<%- include('../../partials/header.ejs') %>

    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <%- include('../../partials/sidebar.ejs') %>
            </div>
            <div class="col-md-10 ">
                <div class="card card-body my-5  offset-md-1">
                    <h4>Change Password</h4>
                    <form action="/auth/change-password" method="POST">

                        <div class="form-group  my-3">
                            <label for="oldPassword">Enter your old password</label>
                            <input class="form-control  " type="password" , name="oldPassword" id="oldPassword">

                        </div>
                        <div class="form-group  my-3">
                            <label for="newPassword">Enter your password</label>
                            <input class="form-control  " type="password" , name="newPassword" id="newPassword">

                        </div>
                        <div class="form-group  my-3">
                            <label for="confirmPassword">Enter your password</label>
                            <input class="form-control  " type="password" , name="confirmPassword" id="confirmPassword">

                        </div>
                        <input type="submit" class="btn btn-primary" value="Change Password">
                    </form>

                </div>
            </div>

        </div>
    </div>
    <%- include('../../partials/footer.ejs') %>
        </body>

        </html>