<%- include('../../partials/header.ejs', {title: '404 Page Not Found' }) %>
    <div class="container my-container">
        <div class="row">
            <h1 class="display-4 text-center">
                404 Page Not Found
                <p style='font-size:100px;'>&#128545;</p>
            </h1>
        </div>
    </div>
    <%- include('../../partials/footer.ejs') %>

        </body>

        </html>