<%- include('../../partials/header.ejs', {title: 'Internal Server Error' }) %>
    <div class="container my-container">
        <div class="row">
            <h1 class="display-4 text-center">
                500 Internal Server Error
                <p style='font-size:100px;'>&#128557;</p>
            </h1>
        </div>
    </div>
    <%- include('../../partials/footer.ejs') %>

        </body>

        </html>