<div class="my-5" id="sidebar">
    <ul class="list-group">
        <li class="list-group-item">
            <a class="text-decoration-none" href="/dashboard"> Dashboard</a>
        </li>
        <li class="list-group-item" aria-disabled="true">
            <a class="text-decoration-none" href="/posts/create">New Post</a>
        </li>
        <li class="list-group-item" aria-disabled="true">
            <a class="text-decoration-none" href="/posts">My Post</a>
        </li>
        <li class="list-group-item" aria-disabled="true">
            <a class="text-decoration-none" href="/dashboard/edit-profile">Edit Profile</a>
        </li>
        <li class="list-group-item" aria-disabled="true">
            <a class="text-decoration-none" href="/bookmarks">Bookmark</a>
        </li>
        <li class="list-group-item" aria-disabled="true">
            <a class="text-decoration-none" href="/dashboard/comments">Comments</a>
        </li>

        <li class="list-group-item" aria-disabled="true">
            <a class="text-decoration-none" href="/auth/change-password">Change Password</a>
        </li>
        <li class="list-group-item" aria-disabled="true">
            <a class="text-decoration-none" href="/auth/logout">Logout</a>
        </li>
    </ul>
</div>